<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Trust Chrome Extension for handling trust">
    <meta name="author" content="Carsten Keutmann">
    <title>Trust Chrome Extension</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <style>
        .breakContent {
            word-wrap: break-word;
            /* All browsers since IE 5.5+ */
            overflow-wrap: break-word;
            /* Renamed property in CSS3 draft spec */
            width: 100%;
        }

        .col-lg-4 {
            text-align: center;
        }

        html,
        body {
            height: 500px;
            width: 550px;
        }

        body {
            padding-top: 3rem;
            padding-bottom: 3rem;
            color: #5a5a5a;
        }

        .trustIcon {
            font-size: 40pt;
            padding: 5pt;
        }

        .trust {
            color: green;
        }

        .distrust {
            color: white;
            background-color: red;
        }

        .neutral {
            color: darkorange;
        }

        .none {
            color: blue;
        }

        .dtpModelText {
            font-weight: bold;
            font-size: 9pt;
        }

        .container {
            min-height: 100%;
        }

        .subjectBlock {
            background-color: #777;
            color: white;
            padding-bottom: 5px;
            padding-top: 5px;
        }

        dtp-avatarImg {
            width: 10pt;
            height: 10pt;
        }
    </style>

</head>

<body ng-app="myApp" ng-controller="ExtensionpopupController as ct" ng-init="ct.init()">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Trust</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto" data-toggle="collapse" data-target="#navbarCollapse">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#userModal">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#serverModal">Server</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main">

        <div class="subjectBlock">
            <div style="padding-top: 5px;padding-bottom: 5px;">
                <select class="userSelectContainer js-states form-control" name="state" style="width: 100%;">
            </div>
        </div>

        <!-- Marketing messaging and featurettes
      ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container">

            <div class="row">
                <div class="col-lg-4 subjectBlock">
                    <div class="breakContent" style="font-weight: bold">{{ ct.modalData.profile.alias }}</div>

                    <div><img ng-src="{{ ct.modalData.profile.avatarImage }}" class="rounded-circle dtp-avatarImg"
                            ng-click="ct.openGraphClick($event)">
                        <span>{{ ct.modalData.profile.userId }}</span></div>
                </div>
            </div>
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <h5>Reputation</h5>
                    <div class="fas fa-check-circle trustIcon trust"></div>
                    <!-- <div class="fas fa-ban rounded-circle trustIcon distrust"></div>
                    <div class="fas fa-exclamation-circle trustIcon neutral"></div>
                    <div class="fas fa-question-circle trustIcon none"></div> -->
                    <div class="dtpModelText">
                        <div ng-show="ct.modalData.status.show">Status: <span ng-class="ct.modalData.status.cssClass"
                                ng-bind="ct.modalData.status.text"></span></div>
                        <div ng-show="ct.modalData.score.show">
                            <div ng-show="ct.modalData.score.show && ct.modalData.profile.binaryTrustResult.trust > 0">
                                Possitive claims: <span class="trusted"
                                    ng-bind="ct.modalData.profile.binaryTrustResult.trust"></span></div>
                            <div
                                ng-show="ct.modalData.score.show && ct.modalData.profile.binaryTrustResult.distrust > 0">
                                Negative claims: <span class="distrusted"
                                    ng-bind="ct.modalData.profile.binaryTrustResult.distrust"></span></div>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-lg-4">
                    <button type="button" ng-class="tc.modalData.button.trust.cssClass" ng-click="tc.trustClick()"
                        ng-attr-title="{{tc.modalData.button.trust.title}}"
                        ng-disabled="tc.modalData.button.trust.disabled">
                        Trust
                    </button>
                    <button type="button" ng-class="tc.modalData.button.untrust.cssClass" ng-click="tc.untrustClick()"
                        ng-attr-title="{{tc.modalData.button.untrust.title}}"
                        ng-disabled="tc.modalData.button.untrust.disabled">
                        Untrust
                    </button>
                    <button type="button" ng-class="tc.modalData.button.distrust.cssClass" ng-click="tc.distrustClick()"
                        ng-attr-title="{{tc.modalData.button.distrust.title}}"
                        ng-disabled="tc.modalData.button.distrust.disabled">
                        Distrust
                    </button>
                </div>
            </div>
        </div><!-- /.container -->
    </main>

    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">User settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <p>The user ID is generated and stored on the client only. No signup is needed.<br>
                            <small style="display: none">NB! The password is not encrypted on the client and may be very
                                insecure. The password and seed will never be submittet to the server.</small>
                        </p>
                        <div class="input-group mb-3 input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock"></i></span>
                            </div>
                            <input id="inputPassword" type="password" class="form-control" name="inputPassword"
                                placeholder="Password" required autofocus ng-model="ct.settings.password"
                                ng-trim="false" ng-change="ct.modelChange('identicon')">
                        </div>
                        <label for="inputSeed">Additional seed - Fill in for better security.</label>
                        <div class="input-group mb-3 input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Optional</span>
                            </div>
                            <input type="text" id="inputSeed" class="form-control" ng-model="ct.settings.seed"
                                ng-trim="false" placeholder="E-mail / Phone / Pin or any text"
                                ng-change="ct.modelChange('identicon')">
                        </div>
                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input id="rememberMe" type="checkbox" value="remember-me"
                                        ng-model="ct.settings.rememberme" ng-change="ct.modelChange('rememberme')"
                                        checked>Remember me
                                </label>
                            </div>
                        </div>
                        <div class="input-group">
                            <img id="identicon" style="float: left; padding: 5px;" ng-src="{{ ct.settings.identicon }}"
                                ng-show="ct.showIcon">
                            <div style="float: left; padding: 5px;">
                                <label for="address">User ID: </label><br><span id="address"
                                    ng-bind="ct.settings.address"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="serverModal" tabindex="-1" role="dialog" aria-labelledby="serverModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">Server settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <p>Specify a url to a Trust server.
                        </p>
                        <div class="input-group mb-3 input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-server"></i></span>
                            </div>
                            <input type="url" id="trustserver" class="form-control" placeholder="Trust server url"
                                ng-model="ct.settings.infoserver" ng-change="ct.modelChange()" required autofocus>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">About DTP <small>Ver 0.3.20190824 - Alpha</small></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Terms and conditions</h6>
                    <p><small>
                            By using this product, you agree that the data that you submit to the server will be
                            available to everyone including anonymous entities under the MIT license.
                            There is no encryption of data or privacy, therefore anyone may use this data as they see
                            fit.
                            Do not submit data that you do not want to share with everyone. Submitting personal
                            identifiable data is not allowed.
                            This is an open platform where the sharing of “Trust” is the basics of the system.
                            Data stored on client is for caching and efficiency purposes and may not be safe against
                            data mining.</small>
                    </p>
                    <p>
                        <h6>Resources</h6>
                        <small>
                            <div><a href="https://github.com/DigitalTrustProtocol/Whitepaper"
                                    target="_blank">Whitepaper</a></div>
                            <div><a href="https://github.com/DigitalTrustProtocol/TrustBrowserExtension"
                                    target="_blank">DTP Browser Extension</a></div>
                            <div><a href="https://github.com/DigitalTrustProtocol/DtpSolution" target="_blank">DTP
                                    Server</a></div>
                        </small>
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>