<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Trust Chrome Extension for handling trust">
    <meta name="author" content="Carsten Keutmann">
    <title>Trust Chrome Extension</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <style>
        .breakContent {
            word-wrap: break-word;
            /* All browsers since IE 5.5+ */
            overflow-wrap: break-word;
            /* Renamed property in CSS3 draft spec */
            width: 100%;
        }

        .col-lg-4 {
            text-align: center;
        }

        html,
        body {
            height: 500px;
            width: 550px;
        }

        body {
            padding-top: 3rem;
            padding-bottom: 3rem;
            color: #5a5a5a;
        }

        .trustIcon {
            /* font-size: 11pt;
            padding-top: 5pt; */
        }

        .trust {
            color: green;
        }

        .distrust {
            color: red;
            /*background-color: red;*/
        }

        .trusted {
            color: green;
        }

        .distrusted {
            color: red;
        }

        .neutral {
            color: darkorange;
        }

        .none {
            color: blue;
        }

        .container-fluid {
            min-height: 100%;
            padding-right: 0px;
            padding-left: 0px;
        }

        .nav-tabs {
            padding-top: 10px;
        }

        form.tab-form-demo .tab-pane {
            margin: 20px 20px;
        }

        .nav-link {color: #000000;}
        .nav-link:hover {color: #333333;}

        .profileTitle {color: #000000;}
        .profileTitle:hover {color: #333333;}
        
        /* Styles go here */
        div.scrollcontainer {
            max-height: 350px;
            overflow-y: scroll;
        }
    </style>
</head>

<body ng-app="myApp" ng-controller="ExtensionpopupController as ct">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Trust</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto" data-toggle="collapse" data-target="#navbarCollapse">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#userModal">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#snippetsModal">Snippets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#serverModal">Server</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10">

            <!-- Container ================================================== -->
            <div>
                <uib-tabset active="ct.tabIndex" class="">
                    <uib-tab index="0" heading="Page">
                        <div class="">
                            <select id="profileSelect" class="userSelectContainer js-states form-control" name="state"
                                style="width: 100%;"></select>
                        </div>
                        <div>
                            <a href="#" uib-tooltip="Refresh search on trust " tooltip-popup-delay="400"
                                tooltip-animation="true" class="badge badge-light float-right" ng-hide="true"><i
                                    class="fas fa-sync pr-1"></i>Refresh</a>
                        </div>

                        <!-- List ================================================== -->
                        <div class="table-responsive scrollcontainer">
                            <table class="table table-striped table-sm">
                                <tbody>
                                    <tr ng-repeat="(key, pv) in ct.pageProfilesView" ng-show="!ct.showError">
                                        <td>
                                            <img ng-src="{{ pv.profile.icon }}"
                                                ng-click="ct.openGraphClick($event, pv)">
                                        </td>
                                        <td>
                                            <div ng-switch="pv.inputForm">
                                                <div ng-switch-when="identity">
                                                    <!-- Identity =====================================================  -->
                                                    <div class="breakContent font-weight-bold">
                                                        <i class="fas fa-user"></i>
                                                        {{ ct.getProfileTitle(pv.profile) }}
                                                    </div>

                                                    <div>
                                                        <small class="text-nowrap">
                                                                <i class="fas fa-fingerprint pr-1"></i>{{ pv.profile.id }}
                                                        </small>
                                                    </div>
                    
                                                    <div class="clearfix" ng-show="pv.status.show">
                                                            <span class="{{ pv.status.iconClass }} float-left pt-1 pr-1"></span>
                                                            <span class="{{ pv.status.cssClass}} float-left pr-2" ng-bind="pv.status.text"></span>
                                                    </div>
                                                    <div class="clearfix" ng-show="pv.show_score">
                                                        <div ng-show="pv.show_score && pv.trustResult.trust > 0">
                                                            <i class="fas fa-poll pr-1"></i>
                                                            Score {{ pv.score > 0 ? '+' : '' }}{{ pv.score }} (<span class="trusted" ng-bind="pv.trustResult.trust"></span>/
                                                            <span class="distrusted" ng-bind="pv.trustResult.distrust"></span>)
                                                        </div>
                                                    </div>
                                                    <div ng-show="pv.button.show">
                                                        <button type="button" ng-class="pv.button.trust.cssClass"
                                                            ng-click="ct.trustClick($event, pv, true)"
                                                            ng-attr-title="{{pv.button.trust.title}}"
                                                            ng-disabled="pv.button.trust.disabled">
                                                            Trust
                                                        </button>
                                                        <!-- <button type="button" ng-class="pv.button.untrust.cssClass"
                                                            ng-click="ct.untrustClick($event, pv)"
                                                            ng-disabled="pv.button.untrust.disabled"
                                                            uib-tooltip="{{pv.button.untrust.title}}"
                                                            tooltip-popup-delay="400">
                                                            Untrust
                                                        </button> -->
                                                        <button type="button" ng-class="pv.button.distrust.cssClass"
                                                            ng-click="ct.trustClick($event, pv, false)"
                                                            ng-attr-title="{{pv.button.distrust.title}}"
                                                            ng-disabled="pv.button.distrust.disabled">
                                                            Distrust
                                                        </button>
                                                    </div>
                                                </div>
                                                <div ng-switch-when="thing">
                                                    <!-- Thing =====================================================  -->
                                                    <div ng-switch="pv.profile.type">
                                                        <span ng-switch-when="url">
                                                            <i class="fas fa-link pr-1"></i>
                                                                <a data-toggle="modal" class="font-weight-bold profileTitle"
                                                                    data-target="#openUrlModal"
                                                                    ng-href="ct.getStringFromBuffer(pv.profile.data)"
                                                                    ng-click="ct.selectedProfile = pv.profile">{{ ct.getProfileTitle(pv.profile) }}</a>
                                                        </span>
                                                        <span ng-switch-default class="breakContent font-weight-bold">
                                                            {{ ct.getProfileTitle(pv.profile) }}
                                                        </span>
                                                    </div>
                                                    <div>
                                                        <small class="text-nowrap">
                                                            <i class="fas fa-fingerprint pr-1"></i>{{ pv.profile.id }}
                                                        </small>
                                                    </div>
                                                    <div class="clearfix">
                                                        <div class="float-left pr-3">Rating</div>
                                                        <div class="float-left pr-3">
                                                            <star-rating-comp id="'ratingCtrl'+pv.profile.id"
                                                                rating="pv.score+''" num-of-stars="5" star-type="'icon'"
                                                                size="'medium'" show-hover-stars="true"
                                                                show-half-stars="'true'" speed="'noticeable'"
                                                                label-position="'right'" label-text=""
                                                                on-click="ct.onRatingChange($event, pv)">
                                                            </star-rating-comp>
                                                        </div>
           
                                                        <div class="float-left pr-3">{{ pv.ratingValue }}</div>
                                                    </div>
                                                    <div class="clearfix">
                                                        <small>
                                                            {{ pv.status.text }}
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Buttom buttons =========================================== -->
                                            <div class="clearfix" id="profileActionsContainer"
                                                ng-hide="pv.commentContainerVisible">
                                                <div class="float-left pr-3">
                                                    <a href="#" uib-tooltip="View comments on subject"
                                                        tooltip-popup-delay="400" tooltip-animation="true"
                                                        class="badge badge-light" 
                                                        ng-click="ct.commentsModalOpen(pv)"
                                                        ng-disabled="true"
                                                        data-toggle="modal"
                                                        data-target="#profileCommentsModal"
                                                        ng-show="pv.status.trustGiven">
                                                        <i class="far fa-comment pr-1"></i>Comments</a>
                                                    <a href="#" ng-click="ct.openGraphClick($event, pv)"
                                                        uib-tooltip="View the trust graph on subject"
                                                        tooltip-popup-delay="400" tooltip-animation="true"
                                                        class="badge badge-light"
                                                        ng-hide="pv.trustResult.direct || !pv.status.trustGiven">
                                                        <i class="fas fa-project-diagram pr-1"></i>Graph</a>
                                                        
                                                    <a href="#" ng-show="pv.trustResult.direct"
                                                        ng-click="ct.selectedProfileView = pv"
                                                        uib-tooltip="Undo your trust on subject"
                                                        tooltip-popup-delay="400" tooltip-animation="true"
                                                        data-toggle="modal"
                                                        data-target="#undoTrustModal"
                                                        class="badge badge-light">
                                                        <i class="fas fa-undo pr-1"></i>Undo trust</a>
                                                </div>
                                            </div>
                                            <!-- Comment Control =========================================== -->
                                            <div id="commentContainer" ng-show="pv.commentContainerVisible">
                                                <div class="float-left"><small>Comment</small></div>
                                                <textarea class="form-control" id="commentArea" rows="3"
                                                    placeholder="(Optional)" ng-model="pv.note"
                                                    ng-trim="true" maxlength="500"></textarea>
                                                <div class="mb-4">
                                                    <small class="float-right">Max 500 characters</small>
                                                </div>

                                                <div>
                                                    <button class="btn btn-secondary btn-sm float-left"
                                                        ng-click="ct.commentCancel($event, pv)">
                                                        <i class="fas fa-backward"></i> Back
                                                    </button>

                                                    <button class="btn btn-primary btn-sm float-right"
                                                        ng-click="ct.commentSubmit($event, pv)">
                                                        <i class="fas fa-check-circle"></i> Submit
                                                    </button>
                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>

                    <uib-tab index="1" heading="History" ng-click="ct.historyClick()">
                        <!-- <div
                            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                            <h3 class="h3">History</h3>
                            <div class="btn-toolbar mb-2 mb-md-0">
                                <div class="btn-group mr-2">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                                </div>
                            </div>
                        </div> -->
                        Showing the history of the claims from the user
                        <div class="table-responsive scrollcontainer" in-view-container>
                                <table class="table table-striped table-sm">
                                    <tbody>
                                        <tr ng-repeat="(key, claim) in ct.historyClaims" in-view="ct.historyInView($index, $inview, $inviewpart)">
                                            <td ng-switch="claim.subject.type">

                                                <div ng-switch-when="thing" class="clearfix">

                                                    <div ng-switch="claim.subject.meta.type">
                                                        <span ng-switch-when="url" class="float-left pr-1">
                                                            <i class="fas fa-link pr-1"></i>
                                                                <a data-toggle="modal" class="font-weight-bold profileTitle"
                                                                    data-target="#openUrlModal"
                                                                    ng-href="ct.getStringFromBuffer(claim.subject.meta.data)"
                                                                    ng-click="ct.selectedProfile = claim.subject.meta">{{ ct.getProfileTitle(claim.subject.meta) }}</a>
                                                        </span>
                                                        <span ng-switch-default class="breakContent font-weight-bold">
                                                            <i class="fas fa-user"></i>
                                                            {{ ct.getProfileTitle(claim.subject.meta) }}
                                                        </span>
                                                    </div>
                                                    (<a href="#" class="badge badge-light" ng-click="ct.showPageTab(claim.subject.id, claim.subject.meta)">
                                                        <i class="fas fa-fingerprint pr-1"></i>{{ claim.subject.id }}
                                                    </a>)

                                                </div>

                                                <div ng-switch-default class="clearfix">
                                                    <div class="breakContent font-weight-bold">
                                                        <i class="fas fa-user"></i>
                                                        {{ ct.getProfileTitle(claim.subject.meta) }}
                                                    </div>
                                                    <div>
                                                        <small class="text-nowrap">
                                                                <i class="fas fa-fingerprint pr-1"></i>{{ claim.subject.id }}
                                                        </small>
                                                    </div>
                                                </div>
    
                                                <div class="clearfix">
                                                    <div><claim-value claim="claim"></claim-value></div>
                                                </div>
    
                                                <div class="float-left"><small>Claim type: {{ claim.type }}</small></div>
                                                <div class="float-right"><small>{{ ct.toDate(claim.created) }}</small></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
    
                    </uib-tab>

                    <uib-tab index="2" heading="Lastest" ng-click="ct.lastestClick()">
                        Showing the latest claims added to the server
                        <div class="table-responsive scrollcontainer" in-view-container>
                            <table class="table table-striped table-sm">
                                <tbody>
                                    <tr ng-repeat="(key, claim) in ct.latestClaims" in-view="ct.latestInView($index, $inview, $inviewpart)">
                                        <td ng-switch="claim.subject.type">

                                            <div ng-switch-when="thing" class="clearfix">

                                                <div ng-switch="claim.subject.meta.type">
                                                    <span ng-switch-when="url" class="float-left pr-1">
                                                        <i class="fas fa-link pr-1"></i>
                                                            <a data-toggle="modal" class="font-weight-bold profileTitle"
                                                                data-target="#openUrlModal"
                                                                ng-href="ct.getStringFromBuffer(claim.subject.meta.data)"
                                                                ng-click="ct.selectedProfile = claim.subject.meta">{{ ct.getProfileTitle(claim.subject.meta) }}</a>
                                                    </span>
                                                    <span ng-switch-default class="breakContent font-weight-bold">
                                                        <i class="fas fa-user"></i>
                                                        {{ ct.getProfileTitle(claim.subject.meta) }}
                                                    </span>
                                                </div>
                                                (<a href="#" class="badge badge-light" ng-click="ct.showPageTab(claim.subject.id, claim.subject.meta)">
                                                    <i class="fas fa-fingerprint pr-1"></i>{{ claim.subject.id }}
                                                </a>)

                                            </div>

                                            <div ng-switch-default class="clearfix">
                                                <div class="breakContent font-weight-bold">
                                                    <i class="fas fa-user"></i>
                                                    {{ ct.getProfileTitle(claim.subject.meta) }}
                                                </div>
                                                <div>
                                                    <small class="text-nowrap">
                                                            <i class="fas fa-fingerprint pr-1"></i>{{ claim.subject.id }}
                                                    </small>
                                                </div>
                                            </div>
    
                                            <div class="clearfix">
                                                <div><claim-value claim="claim"></claim-value></div>
                                            </div>

                                            <div class="clearfix">By:
                                                <span>{{ ct.getProfileTitle(claim.issuer.meta) }}</span>
                                                (<a href="#" class="badge badge-light" ng-click="ct.showPageTab(claim.issuer.id, claim.issuer.meta)">
                                                        <i class="fas fa-fingerprint pr-1"></i>{{ claim.issuer.id }}
                                                    </a>)
                                            <div class="float-left"><small>Claim type: {{ claim.type }}</small></div>
                                            <div class="float-right"><small>{{ ct.toDate(claim.created) }}</small></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>


            <!-- Error card ======== -->
            <div class="card" style="width: 18rem;" ng-show="ct.showError">
                <span class="card-img-top far fa-sad-tear" style="font-size: 20pt"></span>
                <div class="card-body">
                    <h5 class="card-title">Error</h5>
                    <p class="card-text">{{ct.errorMessage}}</p>
                </div>
            </div>
    </div><!-- /.container -->
    </main>
    </div>

    <!-- User Modal =============================================================================== -->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">User settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        ng-click="ct.cancelClick('#userForm')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="container" novalidate="" action="/echo" method="POST" id="userForm">
                        <p>The user ID is generated and stored on the client only. No signup is needed.<br>
                            <small style="display: none">NB! The password is not encrypted on the client and may be very
                                insecure. The password and seed will never be submittet to the server.</small>
                        </p>
                        <label for="inputAlias">User alias, used for easier identification</label>
                        <div class="input-group mb-3 input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user" title="Alias"></i></span>
                            </div>
                            <input id="inputAlias" type="text" class="form-control" name="inputAlias"
                                placeholder="Alias / Name / Nickname (Optional)" autofocus
                                ng-model="ct.tempSettings.alias" ng-trim="true">
                        </div>
                        <div class="input-group mb-3 input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-lock" title="Password"></i></span>
                            </div>
                            <input id="inputPassword" type="password" class="form-control" name="inputPassword"
                                placeholder="Password (Required)" required ng-model="ct.tempSettings.password"
                                ng-trim="false" ng-change="ct.modelChange('identicon')">
                            <div class="invalid-feedback">Password required!</div>
                        </div>
                        <label for="inputSeed">Additional seed - Fill in for better security.</label>
                        <div class="input-group mb-3 input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-seedling" title="Seed"></i></span>
                            </div>
                            <input type="text" id="inputSeed" class="form-control" ng-model="ct.tempSettings.seed"
                                ng-trim="false" placeholder="E-mail / Phone / Pin or any text (Optional)"
                                ng-change="ct.modelChange('identicon')">
                        </div>
                        <div class="input-group">
                            <div class="checkbox">
                                <label>
                                    <input id="rememberMe" type="checkbox" value="remember-me"
                                        ng-model="ct.tempSettings.rememberme" ng-change="ct.modelChange('rememberme')"
                                        checked>Remember me
                                </label>
                            </div>
                        </div>
                        <div class="input-group">
                            <!-- <div class="rounded-circle" ng-bind-html="ct.tempSettings.identicon | to_html"></div> -->
                            <!-- <canvas id="userIcon" width="32" height="32"></canvas>  -->
                            <img id="identicon" style="float: left; padding: 5px;"
                                ng-src="{{ ct.tempSettings.identicon }}" ng-show="ct.showIcon">
                            <div style="float: left; padding: 5px;">
                                <label for="address">User ID: </label><br><span id="address"
                                    ng-bind="ct.tempSettings.address"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        ng-click="ct.cancelClick('#userForm')">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="ct.saveClick('#userForm')"
                        data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Server Modal =============================================================================== -->
    <div class="modal fade" id="serverModal" tabindex="-1" role="dialog" aria-labelledby="serverModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">Server settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        ng-click="ct.cancelClick()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <p>Specify a url to a Trust server.
                        </p>
                        <div class="input-group mb-3 input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-server"></i></span>
                            </div>
                            <input type="url" id="trustserver" class="form-control" placeholder="Trust server url"
                                ng-model="ct.tempSettings.infoserver" ng-change="ct.modelChange()" required autofocus>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        ng-click="ct.cancelClick()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="ct.saveClick()"
                        data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Snippet Modal =============================================================================== -->
    <div class="modal fade" id="snippetsModal" tabindex="-1" role="dialog" aria-labelledby="snippetsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">Snippets</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>User proof</h6>
                    <div>Insert user proof html into a page. This will enable trusting the user directly.</div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                        data-target="#userProofContainer" aria-expanded="false" aria-controls="userProofContainer">
                        User proof
                    </button>
                    </p>
                    <div class="collapse" id="userProofContainer">
                        <div class="card card-body">
                            <pre><code id="userProofCode">&lt;div itemscope itemtype=&quot;http://digitaltrustprotocol.org/entity&quot;&gt; 
&lt;div itemprop=&quot;alias&quot;&gt;<span ng-bind="ct.tempSettings.alias"></span>&lt;/div&gt;
&lt;div itemprop=&quot;id&quot;&gt;<span ng-bind="ct.tempSettings.address"></span>&lt;/div&gt;
&lt;span itemprop=&quot;aliasProof&quot; itemvalue=&quot;<span ng-bind="ct.tempSettings.aliasProof"></span>&quot;&gt;&lt;/span&gt;
&lt;/div&gt;</code></pre>
                            <button class="btn btn-secondary btn-sm" ng-click="ct.copyToClipboard('userProofCode')">
                                <i class="fas fa-clipboard"></i> Copy to clipboard
                            </button>
                        </div>
                    </div>
                    <h6>Content proof</h6>
                    <div>Insert content proof html into a page. This will enable trusting the content directly.</div>
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                        data-target="#contentProofContainer" aria-expanded="false"
                        aria-controls="contentProofContainer">
                        Content proof
                    </button>
                    </p>
                    <div class="collapse" id="contentProofContainer">
                        <form class="container" novalidate="" action="/echo" method="POST" id="contentProofForm">
                            <label for="inputContentProof">Content</label>
                            <div class="input-group mb-3 input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fab fa-html5" title="Html"></i></span>
                                </div>
                                <textarea class="form-control" id="inputContentProof" rows="3"
                                    placeholder="Content text or html" ng-model="ct.contentProof"
                                    ng-trim="false"></textarea>
                            </div>
                        </form>
                        <div class="card card-body">
                            <pre><code id="contentProofCode">&lt;div itemscope itemtype=&quot;http://digitaltrustprotocol.org/entity&quot;&gt; 
&lt;div itemprop=&quot;entityId&quot;&gt;<span ng-bind="ct.tempSettings.address"></span>&lt;/div&gt;
&lt;div itemprop=&quot;alias&quot;&gt;<span ng-bind="ct.tempSettings.alias"></span>&lt;/div&gt;
&lt;span itemprop=&quot;aliasProof&quot; itemvalue=&quot;<span ng-bind="ct.tempSettings.aliasProof"></span>&quot;&gt;&lt;/span&gt;
&lt;/div&gt;</code></pre>
                            <button class="btn btn-secondary btn-sm" ng-click="ct.copyToClipboard('contentProofCode')">
                                <i class="fas fa-clipboard"></i> Copy to clipboard
                            </button>

                        </div>
                    </div>

                </div><!-- /Modal body end -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- About Modal =============================================================================== -->
    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="userModalLabel">About DTP <small>Ver 0.3.20190830 - Alpha</small></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6>Terms and conditions</h6>
                    <p><small>
                            By using this product, you agree that the data that you submit to the server will be
                            available to everyone including anonymous entities under the MIT license.
                            There is no encryption of data or privacy, therefore anyone may use this data as they see
                            fit.
                            Do not submit data that you do not want to share with everyone. Submitting personal
                            identifiable data is not allowed.
                            This is an open platform where the sharing of “Trust” is the basics of the system.
                            Data stored on client is for caching and efficiency purposes and may not be safe against
                            data mining.</small>
                    </p>
                    <p>
                        <h6>Resources</h6>
                        <small>
                            <div><a href="https://github.com/DigitalTrustProtocol/Whitepaper"
                                    target="_blank">Whitepaper</a></div>
                            <div><a href="https://github.com/DigitalTrustProtocol/TrustBrowserExtension"
                                    target="_blank">DTP Browser Extension</a></div>
                            <div><a href="https://github.com/DigitalTrustProtocol/DtpSolution" target="_blank">DTP
                                    Server</a></div>
                        </small>
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Comments Modal =============================================================================== -->
    <div class="modal fade" id="profileCommentsModal" tabindex="-1" role="dialog"
        aria-labelledby="profileCommentsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Comments</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body float-left">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm">
                            <tbody>
                                <tr ng-repeat="(key, claim) in ct.commentClaims">
                                    <td>
                                        <div><span class="font-weight-bold">{{ ct.getProfileTitle(claim.issuer.meta) }}</span>
                                            (<small><i class="fas fa-fingerprint pr-1"></i> {{ claim.issuer.id }}</small>)
                                        </div>
                                        <div class="clearfix"><claim-value claim="claim"></claim-value></div>
                                        <div class="breakContent">
                                            <small>{{ (claim.note) ? claim.note : "(No comment)" }}</small></div>
                                        <div class="float-right"><small>{{ ct.toDate(claim.created) }}</small></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Open url Modal =============================================================================== -->
    <div class="modal fade" id="openUrlModal" tabindex="-1" role="dialog" aria-labelledby="openUrlModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Open url</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body float-left">
                    <p>Are you sure that you will navigate to the url:</p>
                    <p>{{ ct.getStringFromBuffer(ct.selectedProfile.data) }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        ng-click="ct.openUrl()">OK</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Undo trust Modal =============================================================================== -->
    <div class="modal fade" id="undoTrustModal" tabindex="-1" role="dialog" aria-labelledby="undoTrustModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Undo trust</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body float-left">
                    <p>Are you sure that you will undo your trust in:</p>
                    <p>{{ ct.getProfileTitle(ct.selectedProfileView.profile) }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        ng-click="ct.untrustClick($event, ct.selectedProfileView)">Undo trust</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>