<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Trust Chrome Extension for handling trust">
    <meta name="author" content="Carsten Keutmann">

    <title>Trust Chrome Extension</title>


    <!-- Cascading Style Sheets -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap.custom.css" rel="stylesheet" media="screen">
</head>

<body ng-app="myApp" ng-controller="ExtensionpopupController as ct" ng-init="ct.init()"> 




    <div ng-controller="TabController">
    <nav class="navbar navbar-default" role="navigation">
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav" data-tabs="tabs">
                <li ng-class="{ active: isSet(1) }"><a href="#trustcontainer" ng-click="setTab(1)">Trust</a></li>
                <li ng-class="{ active: isSet(2) }"><a href="#profilecontainer" ng-click="setTab(2)">Users</a></li>
                <li ng-class="{ active: isSet(3) }"><a href="#usercontainer" ng-click="setTab(3)">Account</a></li>
                <li ng-class="{ active: isSet(4) }"><a href="#servercontainer" ng-click="setTab(4)">Server</a></li>
                <li ng-class="{ active: isSet(5) }"><a href="#aboutcontainer" ng-click="setTab(5)">About</a></li>
            </ul>
        </div>
    </nav>

    
    <section>
        <form class="form-signin">
            <div id="my-tab-content" class="tab-content">
                <div id="settingscontainer" class="tab-pane" ng-class="{ active: isSet(1) }">
                    <h3 class="form-signin-heading">Trust</h3>
                    <p><b>Trust</b></p>
                    <div>When the query result on a name is positive.</div>
                    <div class="input-group">
                        <!-- Show trust buttons -->
                        <div class="">
                            <div class="">
                                <span class="float-left dtpModelText">
                                    <div ng-show="ct.modalData.status.show">Status: <span ng-class="ct.modalData.status.cssClass" ng-bind="ct.modalData.status.text"></span></div>
                                    <div ng-show="ct.modalData.score.show">
                                        <div ng-show="ct.modalData.score.show && ct.modalData.profile.binaryTrustResult.trust > 0">Possitive claims: <span class="trusted" ng-bind="ct.modalData.profile.binaryTrustResult.trust"></span></div>
                                        <div ng-show="ct.modalData.score.show && ct.modalData.profile.binaryTrustResult.distrust > 0" >Negative claims: <span class="distrusted" ng-bind="ct.modalData.profile.binaryTrustResult.distrust"></span></div>
                                    </div>
                                </span>
                            </div>
                            <div class="modal-footer" data-ng-show="ct.modalData.button.show" >
                                <img src="{{ct.modalData.spinner}}" ng-show="ct.modalData.processing">
                                <button type="button" ng-class="ct.modalData.button.trust.cssClass" ng-click="ct.trustClick()" ng-attr-title="{{ct.modalData.button.trust.title}}" ng-disabled="ct.modalData.button.trust.disabled">
                                    Trust
                                </button>
                                <button type="button" ng-class="ct.modalData.button.untrust.cssClass" ng-click="ct.untrustClick()" ng-attr-title="{{ct.modalData.button.untrust.title}}" ng-disabled="ct.modalData.button.untrust.disabled">
                                    Untrust
                                </button>
                                <button type="button" ng-class="ct.modalData.button.distrust.cssClass" ng-click="ct.distrustClick()" ng-attr-title="{{ct.modalData.button.distrust.title}}" ng-disabled="ct.modalData.button.distrust.disabled">
                                    Distrust
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="profilecontainer" class="tab-pane" ng-class="{ active: isSet(2) }">
                    <h3 class="form-signin-heading">Users</h3>
                    <p>List of known entities in the DTP system.</p>
                    <div class="input-group">
                        <ul>
                            <li>User 1</li>
                            <li>User 2</li>
                            <li>User 3</li>
                            <li>User 4</li>
                            <li>User 5</li>
                        </ul>
                    </div>
                </div>
    
                <div id="usercontainer" class="tab-pane" ng-class="{ active: isSet(3) }">
                    <h3 class="form-signin-heading">User identity</h3>
                    <p>This is an alpha product. The user account ID is generated from the Password and the additional seed (optional). No signup is needed. NB! The password is not encrypted on the client and may be very insecure. The password and seed will never be submittet to the server.</p>
                    <div><label for="inputPassword">Password</label></div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="inputPassword" type="password" class="form-control" name="inputPassword" placeholder="Password" required autofocus ng-model="ct.settings.password" ng-trim="false" ng-change="ct.modelChange('identicon')">
                    </div>
                    <label for="inputSeed">Additional seed - Fill in for better security.</label>
                    <div class="input-group">
                        <span class="input-group-addon">Text</span>
                        <input type="text" id="inputSeed" class="form-control" ng-model="ct.settings.seed" ng-trim="false" placeholder="E-mail / Phone / Pin or any text" ng-change="ct.modelChange('identicon')">
                    </div>
                    <div class="input-group">
                        <img id="identicon" style="float: left; padding: 5px;" src="{{ ct.settings.identicon }}" ng-show="ct.showIcon">
                        <div style="float: left; padding: 5px;">
                            <label for="address">Address: </label><br><span id="address" ng-bind="ct.settings.address"></span>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input id="rememberMe" type="checkbox" value="remember-me" ng-model="ct.settings.rememberme" ng-change="ct.modelChange('rememberme')" checked>Remember me
                            </label>
                        </div>
                    </div>
                </div>
                <div id="servercontainer" class="tab-pane" ng-class="{ active: isSet(4) }">
                    <h3 class="form-signin-heading">Server</h3>
                    <div class="input-group">
                        <label for="trustserver">Trust server</label>
                        <input type="url" id="trustserver" class="form-control" placeholder="Trust server" ng-model="ct.settings.infoserver" ng-change="ct.modelChange()" required autofocus>
                    </div>
                </div>

                <div id="aboutcontainer" class="tab-pane" ng-class="{ active: isSet(5) }">
                    <h3 class="form-signin-heading">About</h3>
                    <h4>Version 0.2.20190110</h4>
                    <div>Alpha release.</div>
                    <h4>Terms and conditions</h4>
                    <div>
                        By using this product, you agree that everything that you submit to the server will be available to everyone else, that includes anonymous entities.
                        There is no encryption of data or privacy, therefore anyone may use this data as they see fit.
                        Do not submit data that you do not want to share with everyone. Submitting personal identifiable data is not allowed.
                        This is an open platform where the sharing of “Trust” is the basics of the system.
                        Data stored on client is for caching and efficiency purposes and may not be safe from data mining.
                    </div>
                    <div>
                        <h4>Github repositories</h4>
                        <div><a href="https://github.com/DigitalTrustProtocol/Whitepaper" target="_blank">Whitepaper</a></div>
                        <div><a href="https://github.com/DigitalTrustProtocol/TrustBrowserExtension" target="_blank">DTP Browser Extension</a></div>
                        <div><a href="https://github.com/DigitalTrustProtocol/DtpSolution" target="_blank">DTP Server</a></div>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <!-- <button id="savebtn" class="btn btn-lg btn-primary btn-block" type="button">Save</button> -->
        </div>
    </section>
    </div>
</html>